.demo2
    margin: 0 auto
    .circle
        width:100px;
        height: 100px;
        border-radius: 50px;
        margin: auto
    .red
        background-color: red;
    .blue
        background-color: blue;
    .btn
        margin: auto
        text-align: center