.demo4
    .bigbtn
        border: 1px solid red;
        width: 200px;
        height: 200px;
        padding:50px;
        .smallbtn
            border: 1px solid red;
            width: 100px;
            height: 100px;
    .blue
        width: 150px;
        height: 150px;
        border: 1px solid blue;
    .yellow
        width: 150px;
        height: 150px;
        border: 1px solid yellow;